<html>

<head>
        <link rel="stylesheet" href=".\index.css">
        <link rel="stylesheet" href="..\node_modules\bootstrap\dist\css\bootstrap.css">

        <script src="..\node_modules\jquery\dist\jquery.js"></script>
        <script src="..\node_modules\bootstrap\dist\js\bootstrap.js"></script>
        <script src="..\node_modules\angular\angular.js"></script>
        <script src=".\index-module.js"></script>
        <script src="..\dist\tuna-val.js"></script>
</head>

<body ng-app="index">
        <fieldset ng-controller="index-controller as ctrl">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                                <h3 class="panel-title">Repeat</h3>
                        </div>
                        <div class="panel-body">
                                <input name="repeat" type="number" data-val1="false" data-val-range="" data-val-range-min="1" data-val-range-max="1000" ng-model="ctrl.itemsCount" ng-model-options="{ debounce: 200 }" ng-change="ctrl.renderItems()">
                                <button class="btn btn-success" ng-click="ctrl.viewJson=!ctrl.viewJson">Toogle json debug</button>
                        </div>
                </div>
                <div class="panel panel-success" ng-if="ctrl.viewJson">
                        <div class="panel-heading">
                                <h3 class="panel-title">Json</h3>
                        </div>
                        <div class="panel-body">
                                <pre>{{ctrl.model|json}}</pre>
                        </div>
                </div>
                <div class="panel panel-info pull-left" ng-repeat="index in ctrl.items track by $index">
                        <div class="panel-heading">
                                <h3 class="panel-title">Form {{::$index + 1}}</h3>
                        </div>
                        <form class="panel-body" ng-repeat="type in ['input', 'checkbox', 'radio']">
                                <h2>{{type}}</h2>
                                <li><label>required</label> <input id="required" name="required" type="{{type}}" data-val="true" data-val-required ng-model="ctrl.model['required-field'+ $index]"></li>
                                <li><label>regex (\D+)</label> <input id="regex" name="regex" type="{{type}}" data-val="true" data-val-regex data-val-regex-pattern="\D+" ng-model="ctrl.model['regex-field'+ $index]"></li>
                                <li><label>date</label> <input id="date" name="date" type="{{type}}" data-val="true" data-val-date ng-model="ctrl.model['date-field'+ $index]"></li>
                                <li><label>digits</label> <input id="digits" name="digits" type="{{type}}" data-val="true" data-val-digits ng-model="ctrl.model['digits-field'+ $index]"></li>
                                <li><label>digits+required</label> <input id="digits" name="digits" type="{{type}}" data-val="true" data-val-required data-val-digits ng-model="ctrl.model['digits+required'+ $index]"></li>
                                <li><label>number</label> <input id="number" name="number" type="{{type}}" data-val="true" data-val-number ng-model="ctrl.model['number-field'+ $index]"></li>
                                <li><label>email</label> <input id="email" name="email" type="{{type}}" data-val="true" data-val-email ng-model="ctrl.model['email-field'+ $index]"></li>
                                <li><label>range</label> <input id="range" name="range" type="{{type}}" data-val="true" data-val-range data-val-range-min="2" data-val-range-max="5" ng-model="ctrl.model['range-field'+ $index]"></li>
                                <li><label>length min</label> <input id="length.min" name="length.min" type="{{type}}" data-val="true" data-val-length data-val-length-min="2" ng-model="ctrl.model['length.min-field'+ $index]"></li>
                                <li><label>length max</label> <input id="length.max" name="length.max" type="{{type}}" data-val="true" data-val-length data-val-length-max="2" ng-model="ctrl.model['length.max-field'+ $index]"></li>
                                <li><label>length min max</label> <input id="length.min.max" name="length.min.max" type="{{type}}" data-val="true" data-val-length data-val-length-min="2" data-val-length-max="2" ng-model="ctrl.model['length.min.max-field'+ $index]"></li>
                        </form>
                </div>
        </fieldset>
</body>

</html>