form {
    display: inline-block;
    width: 400px;
}

label {
    width: 111px;
}

.panel {
    margin: 10px;
}

.ng-invalid {
    border: 2px solid red;
    margin: 2px;
}

.ng-invalid:before {
    position: relative;
    left: -8px;
    content: '*';
    color: red;
}

.ng-valid {
    border: 2px solid green;
    margin: 2px;
}